<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>基于Java的分布式企业配置管理系统</display-name>

	<context-param>
		<param-name>localserver.ip</param-name>
		<param-value>127.0.0.1</param-value>
	</context-param>
	<context-param>
		<param-name>localserver.port</param-name>
		<param-value>9999</param-value>
	</context-param>
	<!-- GlobalFilter -->
	<filter>
		<filter-name>global</filter-name>
		<filter-class>org.qingtian.autodata.mvc.filter.GlobalFilter</filter-class>
		<!-- 例外不计算时间 -->
		<init-param>
			<param-name>exclude</param-name>
			<param-value>/website.ico,/common/,/base/</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>global</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- sitemesh filter -->
	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- authorityFilter -->
	<filter>
		<filter-name>authority</filter-name>
		<filter-class>org.qingtian.autodata.mvc.filter.AuthorityFilter</filter-class>
		<!-- 例外 -->
		<init-param>
			<param-name>exclude</param-name>
			<!--方法 -->
			<param-value>/,/action/global/index,/action/global/history,/action/global/chart,/action/global/showChart,/action/user/login,/action/user/register,/action/message/add,/action/zookeeper/viewCluster,/action/history/show</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>authority</filter-name>
		<url-pattern>/action/*</url-pattern>
	</filter-mapping>

	<!-- ActionServlet -->
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.qingtian.autodata.mvc.core.ActionServlet</servlet-class>
		<init-param>
			<param-name>packages</param-name>
			<param-value>org.qingtian.autodata.mvc.action</param-value>
		</init-param>
		<!-- <init-param> <param-name>initial_actions</param-name> <param-value>test</param-value> 
			</init-param> -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>/action/*</url-pattern>
	</servlet-mapping>
	
	<!-- 图表生成 -->
	<servlet>
		<servlet-name>chart</servlet-name>
		<servlet-class>org.qingtian.autodata.mvc.servlet.ChartServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>chart</servlet-name>
		<url-pattern>/chart</url-pattern>		
	</servlet-mapping>
	<!-- 验证码 -->
	<servlet>
		<servlet-name>code</servlet-name>
		<servlet-class>org.qingtian.autodata.mvc.servlet.IdentifyCodeServlet</servlet-class>
		<init-param>
			<param-name>width</param-name>
			<param-value>60</param-value>
		</init-param>
		<init-param>
			<param-name>height</param-name>
			<param-value>20</param-value>
		</init-param>
		<init-param>
			<param-name>store_key</param-name>
			<param-value>code</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>code</servlet-name>
		<url-pattern>/code</url-pattern>
	</servlet-mapping>

	<!-- 404,500 error page -->
	<error-page>
		<error-code>404</error-code>
		<location>/error/errorforward404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error/errorforward500.jsp</location>
	</error-page>

	<!-- session timeout -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>jump.jsp</welcome-file>
	</welcome-file-list>

</web-app>
